.formscreen_container {
    background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
    height: 200px;
    width: 200px;
}
.formscreen_title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    padding: 0.5em;
}